.maincontrainer {
  height: 100%;
  min-height: 100vh;
  background-color: white;
  padding: 20px;
}

.maincontrainercv {
  height: 100%;
  min-height: 100vh;
  background-color: rgba(153, 204, 255, 0.8);;
  /* padding: 20px; */
}

.tableStyle {
  height: auto;
  width: 100%;
}

.mycv {
  background-color: #e4f0f6;;
  /* height: 100vh ; */
  /* height: 100%; */
  padding: 20px;
  min-height: 100vh;
}

.myprofile {
  background-color: aquamarine;
  height: 350px;
  width: 250px;
  
}

.profilepic {
  height: 350px;
  width: 250px;
  position: absolute;
}

.topCV {
  height: 350px;
  /* background-color: red; */
}

.buttomCV {
  height: 50%;
  /* background-color: green; */
}

.info {
  padding: 25px
}

.tagname {
  background-color:rgba(153, 204, 255, 0.8);
  position: relative;
  width: 320px;
  /* bottom: 0px; */
  top: 300px;
  height: 50px;
  text-align: center;
  font-size: large;
}

.educated {
  padding-left: 30px;
  padding-top: 20px;
}

.home {
  padding: 30px;
  /* background-color: white; */
}

.sidehome {
  padding: 30px;
  /* background-color: white; */
  color: gray;
}

.homepic {
  /* height: 38.5vw */
  height: auto;
  width: 100%;
}

/* div {
  font-family: "Times New Roman", Times, serif;
} */

.name {
  font-size: 25px;
  font-weight: bold;
}

.theme {
  /* background-color: royalblue */
}

/* .progress-bar {
  width: 25%; 
} */